
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>صفحه ارور 404 - صفحه یافت نشد :: </title>
	<!-- start css and style -->


</head>
<body style="margin: 0; padding: 0">
    <div style="position: absolute;left: 40vw; top: 30vh;font-size: 3rem;text-decoration: deepskyblue">
<h1 style="top: -50vh; position: absolute;color: rgba(255,0,0,0.3); font-size: 20rem ">

    ارور 404
</h1>

<p style="color: black; font-size: 2rem">
    باید اینجارو بعدا درست کنم
</p>
    </div>

</body>
</html>
